[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
sentence-transformers = "*"
huggingface-hub = {extras = ["hf_xet"], version = "*"}
chromadb = "*"
pypdf = "*"
langchain-ollama = "*"
langchain-chroma = "*"
langchain-huggingface = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.10"
